<tr class="<%= rankings_table_row_color_class(ranking) %>">
  <td><%= order_number %></td>
  <td><%= link_to(player_name_by_consent(ranking.player, current_user), player_path(ranking.player), class: 'quiet-link') %></td>
  <td><%= ranking.player.category.name %></td>
  <td><%= ranking.points %></td>
  <% if user_signed_in? %>
    <% if ranking.toss_points != ranking.points %>
      <td class="text-danger">
        <strong>
    <% else %>
      <td>
    <% end %>
    <%= ranking.toss_points %>
    <% if ranking.toss_points != ranking.points %>
      </strong>
    <% end %>
    </td>
  <% end %>
  <td><%= ranking.handicap %></td>
  <% if user_signed_in? %>
    <td>
      <%= link_to 'Upraviť', edit_ranking_path(ranking), class: 'btn btn-sm btn-success' %>
    </td>
  <% end %>
</tr>
