<div class="row">
  <div class="col-md-3 hidden-sm-down"></div>
  <div class="col">
    <h2><%= "#{@ranking.player.name}, #{@ranking.round.full_label}" %></h2>
    <hr>

    <%= form_with(model: @ranking, local: true) do |form| %>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <%= form.label :points, 'Body' %><br />
            <%= form.number_field :points, class: 'form-control', disabled: true %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <%= form.label :toss_points, 'Body pre žreb' %><br />
            <%= form.number_field :toss_points, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="actions">
            <%= submit_tag 'Potvrdiť', class: 'btn btn-lg btn-success my-1' %>
            <%= link_to 'Zrušiť', rankings_path(round_id: @ranking.round_id), class: 'btn btn-lg btn-outline-success my-1' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3 hidden-sm-down"></div>
</div>
