<div class="row">
  <div class="col">
    <p class="lead float-left">
      <%= ["Poradie hráčov", selected_round&.full_label].compact.join(' | ') %>
    </p>
    <% if selected_season && selected_round %>
      <div class="form-group float-right">
        <%= select_tag :round_id, options_from_collection_for_select(selected_season.rounds.default, "id", "full_label", selected_round.id), class: 'form-control reloading-page', data: { url: request.path, param_name: 'round' } %>
      </div>
    <% end %>
  </div>
</div>

<%= round_progress_info(selected_round) if selected_round.present? %>

<% if @most_recent_article.present? %>
  <div class="mb-4"><%= render 'articles/tile', article: @most_recent_article %></div>
<% end %>

<% if @rankings.any? %>
  <% if @last_update_time.present? %>
    <i>
      <small>
        (aktualizácia: <%= I18n.localize(@last_update_time, format: :date_with_time) %>)
      </small>
    </i>
  <% end %>
  <div class="table-responsive my-1">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th scope="col">Meno</th>
          <th scope="col">Kategória</th>
          <th scope="col">Body</th>
          <% if user_signed_in? %>
            <th scope="col">Body pre žreb</th>
          <% end %>
          <th scope="col">
            Body
            <span class="text-nowrap">
              súperov
              <span data-toggle="tooltip" data-placement="left" title="Súčet bodov tých hráčov, s ktorými má hráč odohratý zápas v tejto sezóne vrátane tohto kola">
                <%= fa_icon 'question-circle' %>
              </span>
            </span>
          </th>
          <% if user_signed_in? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @rankings.each_with_index do |ranking, i| %>
          <%= render partial: 'rankings/table_row', locals: { ranking: ranking, order_number: i + 1 } %>
        <% end %>
      </tbody>
    </table>
  </div>
  <p class="text-center"><i><small><span class="bg-green px-2 py-1">zápas v kole odohratý</span></small></i></p>
<% else %>
  <div class="row">
    <div class="col">
      <p class="lead text-center">Žiadne údaje.</p>
    </div>
  </div>
<% end %>
