<div class="card my-2">
  <div class="card-body">
    <div class="clearfix">
      <h3 class="card-title float-left">
        <%= link_to article.title, article_path(article), class: 'quiet-link' %>
      </h3>
      <p class="float-right text-secondary">
        <small>
          <%= link_to article.user.email, "mailto:#{article.user.email}", class: 'quiet-link' %>,
          <%= I18n.localize(article.updated_at, format: :date_month) %>
        </small>
      </p>
    </div>
    <p class="card-text">
      <%= article.content[0...ArticlesHelper::PREVIEW_CONTENT_MAX_LENGTH] %>
      <% if article.content.length > ArticlesHelper::PREVIEW_CONTENT_MAX_LENGTH %>
        ... <%= link_to('(dočítať celé)', article_path(article)) %>
      <% end %>
    </p>
  </div>
</div>
