<div class="card my-2 eq-height-col">
  <div class="card-body">
    <div class="clearfix">
      <h3 class="card-title float-left <%= 'text-secondary' unless article.published? %>">
        <%= link_to article.title, article_path(article), class: 'quiet-link' %>
      </h3>
      <p class="float-right text-secondary">
        <small>
          <%= link_to article.user.email, "mailto:#{article.user.email}", class: 'quiet-link' %>,
          <%= I18n.localize(article.updated_at, format: :date_month) %>
        </small>
      </p>
    </div>
    <% if article.published? %>
      <p class="card-text" id="article-content-<%= article.id %>">
        <%= article_preview_content(article) %>
        <% if article_exceeding_preview?(article) %>
          ...
          <%= link_to_article(article, expand_content) %>
        <% end %>
      </p>
    <% else %>
      <p class="card-text text-secondary" id="article-content-<%= article.id %>">
        <%= link_to "(NEZVEREJNENÉ)", edit_article_path(article) %>
      </p>
    <% end %>
  </div>
</div>
