<div class="row">
  <div class="col">
    <h1 class="float-left"><%= @round.full_label %></h1>
    <div class="float-right">
      <%= link_to 'Upraviť', edit_round_path(@round), class: 'btn btn-success my-1' %>
      <%= link_to 'Naspäť', rounds_path, class: 'btn btn-outline-success my-1' %>
      <%#= link_to 'Žreb', '#', class: 'btn btn-danger my-1' %>
    </div>
  </div>
</div>
<div class="table-responsive my-1">
  <table class="table table-sm narrow">
    <tbody>
      <tr>
        <td><strong>Označenie</strong></td>
        <td><%= @round.label %></td>
      </tr>
      <tr>
        <td><strong>Začiatok</strong></td>
        <td>
          <% if @round.period_begins.present? %>
            <%= I18n.localize(@round.period_begins, format: :date_month) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong>Koniec</strong></td>
        <td>
          <% if @round.period_ends.present? %>
            <%= I18n.localize(@round.period_ends, format: :date_month) %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr>
<p class="lead">Zápasy v tomto kole</p>
<%= render 'matches/list_admin',
    published_matches: @round.matches.published.includes(:player1, :player2),
    draft_matches: @round.matches.draft.includes(:player1, :player2) %>

<hr>
<% if @players_without_match.any? %>
  <%= form_tag toss_matches_round_path(@round) do %>
    <p class="lead">Hráči bez zápasu (<%= @players_without_match.count %>)</p>
    <p>
      <%= link_to 'Nový zápas', new_match_path(round_id: @round.id), class: 'btn btn-sm btn-success my-1' %>
      <%= submit_tag 'Vyžrebovať!', class: 'btn btn-sm btn-danger my-1', data: { confirm: "Spustiť žrebovanie zápasov v #{@round.full_label} pre NIŽŠIE ZAŠKRTNUTÝCH hráčov?" } %>
    </p>
    <div class="table-responsive my-1">
      <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Meno</th>
            <th scope="col">Body</th>
            <th scope="col">Body pre žreb</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @players_without_match.each do |player| %>
            <tr>
              <td><%= check_box_tag 'players_in_toss[]', player.id, true %></td>
              <td><%= player.name %></td>
              <td><%= player.rankings.find { |r| r[:round_id] == @round.id }&.points %></td>
              <td><%= player.rankings.find { |r| r[:round_id] == @round.id }&.toss_points %></td>
              <td>
                <%= link_to 'Detail', player_path(player), class: 'btn btn-sm btn-success' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col">
      <p class="lead text-center">Všetci hráči sú v tomto kole priradení na zápas.</p>
    </div>
  </div>
<% end %>
