<footer class="footer mt-5">
  <div class="row">
    <div class="col-12">
      <p class="text-center p-2">
        <strong>Roger</strong>
        <small>♥</small>
        <i>4ever</i>
        <strong>#1</strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="mt-1 py-4">
        <p class="text-center">
          Organizačný tím
        </p>
        <p class="text-center">
          <small>
      			Tomáš Radič<br>
            <%= link_to 'tomas.radic@gmail.com', 'mailto:tomas.radic@gmail.com' %><br>
            <%= link_to '0905 289 248', 'tel:0905289248' %>
          </small>
        </p>
        <p class="text-center">
          <small>
            Ondrej Babala<br>
            <%= link_to_manager_phone %>
          </small>
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="mt-1 py-4">
        <p class="text-center">
          Autor webu
        </p>
        <p class="text-center">
          <small>
            Tomáš Radič<br>
            <%= link_to 'tomas.radic@gmail.com', 'mailto:tomas.radic@gmail.com' %><br>
            <%= link_to '0905 289 248', 'tel:0905289248' %>
          </small>
        </p>
    		<p class="text-center">
          <small>
    				<%= link_to 'LinkedIn', 'https://www.linkedin.com/in/tomas-radic-a85161a7/', target: :_blank %>
    				●
    				<%= link_to 'Github', 'https://github.com/tomas-radic/swiss-tennis', target: :_blank %>
          </small>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-center font-italic font-weight-light">
        <small>(obsah webu upravuje organizátor súťaže)</small>
      </p>
    </div>
  </div>
</footer>
