<div class=".navbar-expand-sm">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="logo">
      <%#= link_to matches_path, class: 'navbar-brand' do %>
<!--        <em>ma</em><strong>TO</strong><em>tenis</em>-->
      <%# end %>
      <%= link_to matches_path, class: 'navbar-brand' do %>
        <em>ma</em><strong>TO</strong><em>tenis</em>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Rebríček', rankings_path, class: 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Novinky', articles_path, class: 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Hráči', enrollments_path, class: 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to 'O súťaži', pages_about_path, class: 'nav-link'  %>
        </li>
<!--        <li class="nav-item">-->
          <%#= link_to 'Sezóna 2020', pages_season2020_path, class: 'nav-link'  %>
<!--        </li>-->
        <li class="nav-item">
          <%= link_to 'Sezóna 2021', pages_season2021_path, class: 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to "História", history_seasons_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Administrácia
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Sezóny', seasons_path, class: 'dropdown-item' %>
              <%= link_to 'Kolá a zápasy', rounds_path, class: 'dropdown-item' %>
              <%= link_to 'Hráči', enrollments_path, class: 'dropdown-item'  %>
              <%= link_to 'Novinky', articles_path, class: 'dropdown-item'  %>
              <%= link_to 'Kategórie', categories_path, class: 'dropdown-item'  %>
              <%= link_to 'Miesta', places_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Kredit', payments_path, class: 'dropdown-item' %>
              <%= link_to 'Návštevnosť', http_requests_path, class: 'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Odhlásiť sa', logout_path, class: 'dropdown-item' %>
              <%= link_to 'Zmeniť heslo', edit_user_path(current_user), class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Prihlásiť sa', login_path, class: 'nav-link'  %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
