<div class="row">
  <div class="col">
    <p class="lead float-left">
      Rezervácie kurtov
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-lg-6 eq-height-container">
    <div class="card my-2 eq-height-col">
      <div class="card-body">
        <div class="clearfix">
          <h3 class="card-title text-center">
            Mravenisko 🐜
          </h3>
        </div>
        <hr>
<!--        <p class="card-text text-justify">-->
<!--          Kurty na Mravenisku si hráči rezervujú sami v rezervačnom systéme. Na otvorenie rezervačného systému-->
<!--          slúži tlačidlo nižšie.-->
<!--        </p>-->
        <p class="card-text text-center">
          Kurty na Mravenisku sa rezervujú telefonicky na čísle
          <span class="nowrap"><%= link_to '0911 272 070', 'tel:0911272070' %>.</span>
        </p>
        <p class="card-text text-center">
          Na všetky ohlásené ligové zápasy, ktoré sú zverejnené na príslušnom ligovom webe je
          cena 6€/h.
        </p>
        <p class="text-center">
          <%= link_to "📞", "tel:0911272070", class: "btn btn-warning" %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 eq-height-container">
    <div class="card my-2 eq-height-col">
      <div class="card-body">
        <div class="clearfix">
          <h3 class="card-title text-center">
            Park 🌳
          </h3>
        </div>
        <hr>
        <p class="card-text text-justify">
          Kurty v parku sa rezervujú telefonicky na čísle
          <span class="text-nowrap"><%= link_to '0911 071 207', 'tel:0911071207' %>.</span>
        </p>
        <p class="card-text text-center">
          Na všetky ohlásené ligové zápasy, ktoré sú zverejnené na príslušnom ligovom webe je
          cena 7€/h, ale je potrebné na zápas zajednať 2h, tzn. 14€/zápas.
        </p>
        <p class="text-center">
          <%= link_to 'Obsadenosť 🌳', 'https://kurty.zap.sk', class: 'btn btn-success', target: :_blank %>
          <%= link_to "📞", "tel:0911071207", class: "btn btn-warning" %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 eq-height-container">
    <div class="card my-2 eq-height-col">
      <div class="card-body">
        <div class="clearfix">
          <h3 class="card-title text-center">
            Kúpalisko 💦
          </h3>
        </div>
        <hr>
        <p class="card-text text-justify">
          Kurty na kúpalisku sa rezervujú telefonicky na čísle
          <span class="text-nowrap"><%= link_to '0903 260 749', 'tel:0903260749' %>.</span>
        </p>
        <p class="card-text text-center">
          Na všetky ohlásené ligové zápasy, ktoré sú zverejnené na príslušnom ligovom webe je
          cena 5€/h.
        </p>
        <p class="text-center">
          <%= link_to 'Obsadenosť 💦', 'https://kurtykupko.skedda.com/booking', class: 'btn btn-success', target: :_blank %>
          <%= link_to "📞", 'tel:0903260749', class: "btn btn-warning" %>
        </p>
      </div>
    </div>
  </div>
</div>
