<div class="center-panel">
  <h1 class="display-3 text-center pb-4">
    Sezóna <span class="px-4 bg-black"><strong>2024</strong></span>
  </h1>

  <h2 class="text-center pt-5">
    Ahojte!
  </h2>
  <p class="text-justify">
    Blíži sa dobré počasie a je načase začať hrať ligu maTOtenis! Ak ste cez zimu zabudli
    <%= link_to 'princíp', pages_about_path, target: :_blank %> a
    <%= link_to 'pravidlá', pages_rules_path, target: :_blank %>
    súťaže, nájdete ich na tomto webe, ktorý je opäť spustený. Vzhľadom na podstatné zvýšenie nákladov na
    prevádzku tenisových webov oboch topoľčianskych líg budú tieto weby v prevádzke zatiaľ iba v mesiacoch
    apríl-október.
  </p>

  <p class="text-justify">
    Prosím hráčov, ktorí sa chcú do súťaže prihlásiť,
    aby uhradili štartovné vo výške <b>30€</b> prostredníctvom QR kódu - do informácie pre príjemcu
    doplniť svoje meno a priezvisko.
  </p>

  <div class="text-center">
    <%= image_tag "payment.png", alt: "Bart Simpson", class: "center-image", style: "max-width: 140px;" %>
  </div>

  <p class="text-center">
    Alebo, manuálne zadanie platby pre štartovné:
  </p>
  <pre class="text-center"><code>SK94 0200 0000 0018 7054 3054</code></pre>
  <p class="text-center">info pre príjemcu</p>
  <pre class="text-center"><code>"maTOtenis - Meno Priezvisko"</code></pre>
  <p class="text-danger text-center"><b>najneskôr do piatku 19. apríla.</b></p>

  <p class="text-justify">
    <b>POZOR</b> V prípade, že nebude
    prihlásených dostatok hráčov (tzn. uhradené štartovné), súťaž sa nebude môcť konať, takže ideálny
    čas na odoslanie platby je práve teraz.
  </p>

  <h2 class="text-center pt-5">Harmonogram 2024</h2>
  <p class="text-justify">
    Prvé žrebovanie a štart súťaže sa uskutoční vo štvrtok 2. mája.
    Prvé kolo bude žrebované párovaním niekoľkých nasadených hráčov s náhodnými nenasadenými.
    Informácia o nasadených hráčoch bude vo forme samostatného článku na tomto webe.
  </p>
  <ul>
    <li><b>1. kolo:</b> 3.5.-19.5.</li>
    <li><b>2. kolo:</b> 20.5.-2.6.</li>
    <li><b>3. kolo:</b> 3.6.-16.6.</li>
    <li><b>4. kolo:</b> 17.6-30.6.</li>
    <li><b>5. kolo:</b> 1.7.-14.7.</li>
    <li><b>6. kolo:</b> 15.7.-28.7.</li>
    <li><b>7. kolo:</b> 29.7.-11.8.</li>
    <li><b>8. kolo:</b> 12.8.-25.8.</li>
    <li><b>9. kolo:</b> 26.8.-8.9.</li>
    <li>---------------</li>
    <li><b>Semifinále:</b> piatok 13.9.</li>
    <li><b>Finále:</b> sobota 14.9.</li>
  </ul>

  <hr>

<!--  <p class="text-justify">-->
<!--    Dôležité - ak viete, že nemôžete odohrať zápas počas daného kola pre prekážku na svojej strane,-->
<!--    môžete do konca tohto kola oznámiť organizátorovi že žiadate zápas preložiť do najbližšieho ďalšieho-->
<!--    kola, ak sa tak so súperom viete dohodnúť. Zápasy, ktoré budú na konci kola neodohraté-->
<!--    (tzn. nenahlásený výsledok) a nepožiadané o preloženie, budú považované za odignorované a tým-->
<!--    pádom zrušené.-->
<!--  </p>-->
<!--  <ul>-->
<!--    <li>preloženie je potrebné dohodnúť so súperom a oznámiť dohodu organizátorovi</li>-->
<!--    <li>zápas sa dá preložiť iba do najbližšieho ďalšieho kola</li>-->
<!--    <li>pred žrebovaním posledného kola sezóny MUSIA byť uzavreté všetky zápasy</li>-->
<!--  </ul>-->
<!--  <p class="text-justify">-->
<!--    Každý zápas je potrebné vopred nahlásiť organizátorovi SMS/WhatsApp správou kde a kedy sa bude konať!-->
<!--  </p>-->

<!--  <hr>-->

<!--  <p class="text-justify">-->
<!--    Oficiálne kurty súťaže sú 1) Mravenisko (TC Topoľčany), 2) kurty v mestskom parku a 3) kurty na kúpalisku.-->
<!--    Hráč č. 2 musí rešpektovať výber kurtu hráča č. 1 v týchto kluboch. Ak hráč č. 1 zápasu chce zápas-->
<!--    odohrať na iných kurtoch, je k tomu potrebný súhlas súpera - hráča č. 2!-->
<!--  </p>-->

<!--  <p class="text-justify">-->
<!--    Hrať sa bude za zvýhodnené ceny a to-->
<!--  </p>-->

<!--  <div class="row">-->
<!--    <div class="col-md-6">-->
<!--      <div class="card">-->
<!--        <div class="card-body" style="min-height: 170px;">-->
<!--          <h5 class="card-title">V mestskom parku</h5>-->
<!--          <ul>-->
<!--            <li><b>5€/h</b> do 16:00</li>-->
<!--            <li><b>6€/h</b> po 16:00</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-6">-->
<!--      <div class="card" style="min-height: 170px;">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Na Mravenisku (TC Topoľčany)</h5>-->
<!--          <ul>-->
<!--            <li><b>6€/h</b></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <p class="text-justify">-->
<!--    Platenie za kurt ostáva, ako to bolo, na hráčovi č. 1 v zápase. Hráč č. 2 poskytuje na zápas nové lopty-->
<!--    podľa pravidiel. Všetky informácie sú na tomto webe, no v prípade otázok kontaktujte organizátora.-->
<!--  </p>-->

  <p class="text-center mt-4">
    Tomáš Radič<br>
    <%= link_to '0905 289 248', 'tel:0905289248' %><br>
    <%= link_to 'tomas.radic@gmail.com', 'mailto:tomas.radic@gmail.com' %>
  </p>

  <div class="text-center">
    <%= image_tag "bart_playing_better.jpg", alt: "Bart Simpson", class: "center-image", style: "max-width: 640px;" %>
  </div>

  <% if @enrollments.present? %>
    <h2 class="text-center pt-5">
      Prihlásení hráči - <strong>(<%= @enrollments&.count.to_i %>)</strong>
    </h2>
    <div class="pt-4">
      <% if @enrollments&.any? %>
        <div class="table-responsive my-1">
          <table class="table table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Meno</th>
                <th scope="col" class="text-center">Kategória</th>
                <th scope="col">Dátum prihlášky</th>
              </tr>
            </thead>
            <tbody class="players">
              <% @enrollments.each do |enrollment| %>
                <tr>
                  <td>
                  <span class="js-filterable">
                    <%= player_name_link(enrollment.player, current_user) %>
                  </span>
                  </td>
                  <td class="text-center"><span class="badge badge-pill badge-light"><%= enrollment.player.category.name %></span></td>
                  <td><%= I18n.localize(enrollment.created_at, format: :date_month_year) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <p class="text-center">Zatiaľ nie je prihlásený nikto.</p>
      <% end %>
    </div>
  <% end %>

<!--  <hr>-->

<!--  <h2 class="text-center pt-5">-->
<!--    Turnaj ATATennis!-->
<!--  </h2>-->
<!--  <p>-->
<!--    Na začiatok mája je pripravená ešte jedna tenisová udalosť v Topoľčanoch a to turnaj obľúbenej-->
<!--    súťaže ATATennis. Konať sa bude na kurtoch na Mravenisku cez víkend 6.-7. mája. Každý má teda šancu-->
<!--    zahrať si s novými súpermi na svojej úrovni, spoznať nových hráčov a dobre sa zabaviť.-->
<!--    S prihlasovaním netreba otálať príliš dlho, tieto turnaje sú obľúbené a zvyknú sa rýchlo zaplniť.-->
<!--    Pre prihlásenie kontaktuj riaditeľa súťaže Michala Liptáka na-->
<!--    <br><br>-->
<!--    <%#= link_to '📞 0907 121 797', 'tel:0907121797', class: 'quiet-link' %><br>-->
<!--    <%#= link_to '✉️ michal.liptak@atatennis.sk', 'mailto:michal.liptak@atatennis.sk', class: 'quiet-link' %><br>-->
    <%#= link_to 'https://atatennis.sk/?p=clanok&id=272', 'https://atatennis.sk/?p=clanok&id=272', target: :_blank %>
<!--  </p>-->
</div>
