<h1 class="text-center py-4">Skokan roka</h1>
<hr>

<p class="text-justified m-2">
  Toto je špeciálny rebríček hráčov, ktorí hrali túto súťaž v aktuálnej sezóne a aj v sezóne predchádzajúcej.
  Poradie hráčov v tomto rebríčku teda vynecháva hráčov, ktorí predchádzajúcu sezónu túto súťaž nehrali.
  Hráči sú v tomto rebríčku zoradení podľa posunu v rebríčku oproti predchádzajúcej sezóne.
  <strong>
    Pozor, v tomto rebríčku figurujú iba tí hráči, ktorí v predchádzajúcej sezóne vynechali maximálne
    jeden zápas.
  </strong>
</p>

<% if @season_jumpers.any? %>
  <div class="row">
    <div class="col">
      <%= render 'shared/js_filter', target_table_body: 'season-jumpers', placeholder: 'meno hráča' %>
    </div>
  </div>

  <div class="table-responsive my-1">
    <table class="table table-sm">
      <thead class="thead-dark">
      <tr>
        <th></th>
        <th scope="col">Meno</th>
        <th scope="col" class="text-nowrap">Posun o</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody class="season-jumpers">
      <% @season_jumpers.each_with_index do |jumper, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td>
            <span class="js-filterable">
              <%= player_name_link(jumper[:player], current_user) %>
            </span>
          </td>
          <td><%= jumper[:jump] %></td>
          <td class="text-nowrap"><%="(#{jumper[:previous_position]} → #{jumper[:current_position]})" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="chart-div" style="height: 700px; width: 100%;"></div>
<% else %>
  <div class="row">
    <div class="col">
      <p class="lead text-center">Žiadne údaje.</p>
    </div>
  </div>
<% end %>

<%= render "shared/scripts_autoreload" %>
<%= render "pages/scripts_googlecharts" %>
