<div class="center-panel">
  <h1 class="display-3 text-center pb-4">
    Sezóna <span class="px-4 bg-black"><strong>2023</strong></span>
  </h1>

  <h2 class="text-center pt-5">
    Ahojte tenisti!
  </h2>
  <p class="text-justify">
    Po prieskume verejnej mienky avizujem otvorenie súťaže maTOtenis aj v roku 2023 v podstate nezmenenom
    formáte. Ak ste cez zimu zabudli princíp a pravidlá súťaže, nájdete ich na tomto webe, ktorý je opäť
    spustený. Vzhľadom na podstatné zvýšenie nákladov na prevádzku tenisových webov oboch topoľčianskych
    líg budú tieto weby v prevádzke zatiaľ iba v mesiacoch apríl-október.
  </p>

  <p class="text-justify">
    Prosím hráčov, ktorí sa už predbežne prihlásili prostredníctvom emailu, ale aj ďalších záujemcov,
    aby uhradili štartovné vo výške <b>20€</b> na iban
  </p>
  <pre class="text-center"><code>SK94 0200 0000 0018 7054 3054</code></pre>
  <p class="text-center">s popisom platby</p>
  <pre class="text-center"><code>"maTO - Meno Priezvisko"</code></pre>
  <p class="text-danger text-center"><b>najneskôr do piatku 21. apríla.</b></p>

  <p class="text-justify">
    <b>POZOR</b> - hrať sa bude 9 dvojtýždňových kol a začína sa už v piatok 28. apríla! V prípade, že nebude
    prihlásených dostatok hráčov (tzn. uhradené štartovné), súťaž sa nebude môcť konať, takže ideálny
    čas na odklikanie platby je práve teraz.
  </p>

  <h2 class="text-center pt-5">Harmonogram 2023</h2>
  <p class="text-justify">
    Prvé žrebovanie a štart súťaže sa uskutoční digitálne na diaľku pre neprítomnosť organizátora v tom čase.
    Prvé kolo bude žrebované párovaním niekoľkých nasadených hráčov s náhodnými nenasadenými.
    Informácia o nasadených hráčoch bude vo forme samostatného článku na tomto webe.
  </p>
  <ul>
    <li><b>1. kolo:</b> 28.4.-14.5.</li>
    <li><b>2. kolo:</b> 15.5.-28.5.</li>
    <li><b>3. kolo:</b> 29.5.-11.6.</li>
    <li><b>4. kolo:</b> 12.6-25.6.</li>
    <li><b>5. kolo:</b> 26.6.-9.7.</li>
    <li><b>6. kolo:</b> 10.7.-23.7.</li>
    <li><b>7. kolo:</b> 24.7.-6.8.</li>
    <li><b>8. kolo:</b> 7.8.-20.8.</li>
    <li><b>9. kolo:</b> 21.8.-3.9.</li>
    <li>---------------</li>
    <li><b>Semifinále:</b> piatok 8.9.</li>
    <li><b>Finále:</b> sobota 9.9.</li>
  </ul>

  <hr>

  <p class="text-justify">
    Dôležité - ak viete, že nemôžete odohrať zápas počas daného kola pre prekážku na svojej strane,
    môžete do konca tohto kola oznámiť organizátorovi že žiadate zápas preložiť do najbližšieho ďalšieho
    kola, ak sa tak so súperom viete dohodnúť. Zápasy, ktoré budú na konci kola neodohraté
    (tzn. nenahlásený výsledok) a nepožiadané o preloženie, budú považované za odignorované a tým
    pádom zrušené.
  <ul>
    <li>preloženie je potrebné dohodnúť so súperom a oznámiť dohodu organizátorovi</li>
    <li>zápas sa dá preložiť iba do najbližšieho ďalšieho kola</li>
    <li>žiadny zápas sa nedá preložiť do posledného 9. kola</li>
  </ul>

  <hr>

  <p class="text-justify">
    Oficiálne kurty súťaže sú kurty v mestskom parku a kurty na Mravenisku (TC Topoľčany). Ak hráč č. 1
    zápasu chce zápas odohrať na iných kurtoch, je k tomu potrebný súhlas súpera - hráča č. 2!
  </p>

  <p class="text-justify">
    Hrať sa bude za zvýhodnené ceny a to
  </p>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body" style="min-height: 170px;">
          <h5 class="card-title">V mestskom parku</h5>
          <ul>
            <li><b>5€/h</b> do 16:00</li>
            <li><b>6€/h</b> po 16:00</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="min-height: 170px;">
        <div class="card-body">
          <h5 class="card-title">Na Mravenisku (TC Topoľčany)</h5>
          <ul>
            <li><b>6€/h</b></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <p class="text-justify">
    Platenie za kurt ostáva, ako to bolo, na hráčovi č. 1 v zápase. Hráč č. 2 poskytuje na zápas nové lopty
    podľa pravidiel. Všetky informácie sú na tomto webe, no v prípade otázok kontaktujte organizátora.
  </p>

  <p class="text-center mt-4">
    Tomáš Radič<br>
    <%= link_to '0905 289 248', 'tel:0905289248' %><br>
    <%= link_to 'tomas.radic@gmail.com', 'mailto:tomas.radic@gmail.com' %>
  </p>

  <div class="text-center">
    <%= image_tag "bart_playing_better.jpg", alt: "Bart Simpson", class: "center-image", style: "max-width: 640px;" %>
  </div>

  <% if @enrollments.present? %>
    <h2 class="text-center pt-5">
      Prihlásení hráči - <strong>(<%= @enrollments&.count.to_i %>)</strong>
    </h2>
    <div class="pt-4">
      <% if @enrollments&.any? %>
        <div class="table-responsive my-1">
          <table class="table table-sm">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Meno</th>
              <th scope="col" class="text-center">Kategória</th>
              <th scope="col">Dátum prihlášky</th>
            </tr>
            </thead>
            <tbody class="players">
            <% @enrollments.each do |enrollment| %>
              <tr>
                <td>
                  <span class="js-filterable">
                    <%= player_name_link(enrollment.player, current_user) %>
                  </span>
                </td>
                <td class="text-center"><span class="badge badge-pill badge-light"><%= enrollment.player.category.name %></span></td>
                <td><%= I18n.localize(enrollment.created_at, format: :date_month_year) %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <p class="text-center">Zatiaľ nie je prihlásený nikto.</p>
      <% end %>
    </div>
  <% end %>
</div>
