<div class="row">
  <div class="col">
    <p class="lead float-left"><%= "Zoznam hráčov sezóny #{selected_season.name} (#{@enrollments.active.count})" %></p>
    <% if user_signed_in? %>
      <div class="float-right">
        <%= link_to 'Pridať hráča', new_enrollment_path, class: 'btn btn-sm btn-success my-1' %>
      </div>
    <% end %>
  </div>
</div>

<hr>
<!--<h1 class="display-3 text-center pb-4">-->
<!--  Začína sezóna <span class="px-4 bg-black"><strong>2020!</strong></span>-->
<!--</h1>-->
<% if @most_recent_article.present? %>
  <div class="mb-4"><%= render 'articles/tile', article: @most_recent_article, expand_content: true %></div>
<% end %>
<% if @enrollments.any? %>
  <div class="row">
    <div class="col">
      <%= render 'shared/js_filter', target_table_body: 'players', placeholder: 'meno hráča' %>
    </div>
  </div>
  <div class="table-responsive my-1">
    <table class="table table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Meno</th>
        <th scope="col" class="text-center">Kategória</th>
        <th scope="col">Dátum prihlášky</th>
        <% if user_signed_in? %>
          <th scope="col"></th>
        <% end %>
      </tr>
      </thead>
      <tbody class="players">
      <% @enrollments.each do |enrollment| %>
        <tr>
          <td>
            <span class="js-filterable">
              <% if enrollment.canceled? %>
                <s><%= player_name_link(enrollment.player, current_user, vertical: true) %></s>
              <% else %>
                <%= player_name_link(enrollment.player, current_user, vertical: true) %>
              <% end %>
            </span>
          </td>
          <td class="text-center"><span class="badge badge-pill badge-light"><%= enrollment.player.category.name %></span></td>
          <td><%= I18n.localize(enrollment.created_at, format: :date_month_year) %></td>
          <% if user_signed_in? %>
            <td>
              <%= link_to 'Odstrániť',
                          cancel_enrollment_path(enrollment),
                          data: { confirm: "Naozaj odstrániť #{enrollment.player.name} zo sezóny #{selected_season.name}?" },
                          class: 'btn btn-sm btn-danger' %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <p class="lead text-center">Žiadni hráči.</p>
    </div>
  </div>
<% end %>
