<% if user_signed_in? %>
  <%= link_to 'Pridať hráča', new_enrollment_path, class: 'btn btn-sm btn-success my-1' %>
<% end %>
<p class="lead"><%= "Zoznam hráčov sezóny #{selected_season.name} (#{@enrollments.count})" %></p>
<% if @enrollments.any? %>
  <div class="table-responsive my-1">
    <table class="table table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Meno</th>
        <th scope="col">Dátum prihlášky</th>
        <th scope="col">Kategória</th>
        <% if user_signed_in? %>
          <th scope="col"></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @enrollments.each do |enrollment| %>
        <tr>
          <td><%= link_to player_name_by_consent(enrollment.player, current_user), player_path(enrollment.player), class: 'quiet-link' %></td>
          <td><%= I18n.localize(enrollment.created_at, format: :date_month_year) %></td>
          <td><span class="badge badge-pill badge-light"><%= enrollment.player.category.name %></span></td>
          <% if user_signed_in? %>
            <td>
              <%= link_to 'Odstrániť',
                          enrollment_path(enrollment),
                          method: :delete,
                          data: { confirm: "Naozaj odstrániť #{enrollment.player.name} zo sezóny #{selected_season.name}?" },
                          class: 'btn btn-sm btn-danger' %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <p class="lead text-center">Žiadni hráči.</p>
    </div>
  </div>
<% end %>
