<div class="text-center bg-dark" id="payment-balance-background">
  <%= link_to payments_path, class: 'quiet-link' do %>
    Aktuálny kredit
    <span class="font-weight-bold px-1" id="payment-balance-amount">
      <%= @payment_balance_text %>
    </span>
  <% end %>
  <span data-toggle="tooltip" data-placement="bottom" title="Rozdiel prijatých platieb a nákladov na prevádzku webu. Výška kreditu sa prepočítava z platieb každých <%= Rails.configuration.cached_hours_payment_balance %> hodín">
    <%= fa_icon 'question-circle' %>
  </span>
</div>

<%= render 'payments/scripts' %>
