<div class="row">
  <div class="col">
    <p class="lead">Všetky platby</p>
  </div>
</div>

<hr>
<% if @payments.any? %>
  <p>
    Aktuálny kredit <b><span class="px-1 colored-amount"><%= @payment_balance_text %></span></b>
    <span data-toggle="tooltip" data-placement="right" title="Výška kreditu sa prepočítava z platieb každých <%= Rails.configuration.cached_hours_payment_balance %> hodín">
      <%= fa_icon 'question-circle' %>
    </span>
  </p>
  <div class="table-responsive my-1">
    <table class="table table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Suma</th>
        <th scope="col">Dátum</th>
        <th scope="col">Popis</th>
      </tr>
      </thead>
      <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td><span class="colored-amount"><%= payment.text_amount %></span></td>
          <td><%= I18n.localize(payment.paid_on, format: :date_month_year) %></td>
          <td><%= payment.description %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <%= will_paginate(
            @payments,
            :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-switcher') %>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <p class="lead text-center">Žiadne platby.</p>
    </div>
  </div>
<% end %>
