<div class="row">
  <div class="col">
    <h1 class="float-left"><%= player_name_by_consent(@player, current_user) %></h1>
    <div class="float-right">
      <% if user_signed_in? %>
        <%= link_to 'Upraviť', edit_player_path(@player), class: 'btn btn-success my-1' %>
      <% end %>
      <%= link_to 'Všetci hráči', enrollments_path, class: 'btn btn-outline-success my-1' %>
    </div>
  </div>
</div>
<hr>

<div class="text-center">
  <p class="lead">Posledné zápasy</p>
  <% @recent_matches_sequence.times do |i| %>
    <%= match_badge(@recent_matches[i], @player) %>
  <% end %>
</div>

<hr>
<div class="row">
  <div class="col">
    <p class="lead text-center">
      Úspešnosť hry
      <span data-toggle="tooltip" data-placement="top" title="Pomer vyhratých gemov ku všetkým odohratým">
        <%= fa_icon 'question-circle' %>
      </span>
    </p>
  </div>
</div>
<div class="row">
  <% @success_of_play.each.with_index do |season_sop, i| %>
    <div class="col-12 col-md-6">
      <div class="card mb-3 <%= success_of_play_color_class(season_sop.dig(:percentage)) %>">
        <div class="card-header"><%= "V sezóne #{season_sop.dig(:season)&.name}" %></div>
        <div class="card-body">
          <h5 class="card-title">
            <%= season_sop.dig(:all_games).zero? ? '(žiadne zápasy)' : "#{season_sop.dig(:percentage)}%" %>
          </h5>
          <div id='<%= "player-sop-chart-#{i}" %>' class="player-sop-chart" style="width: 100%; height: 280px;"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<hr>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="lead text-center">
          Tel.:
          <span class="px-2">
            <% if @player.phone.present? %>
              <% if user_signed_in? || @player.consent_given? %>
                <%= link_to(formatted_phone(@player.phone), "tel:#{@player.phone}") %>
              <% else %>
                <%= link_to_manager_phone('u organizátora') %>
              <% end %>
            <% else %>
              (chýba)
            <% end %>
          </span>
        </p>
        <p class="lead text-center">
          Email:
          <span class="px-2">
            <% if @player.email.present? %>
              <% if user_signed_in? || @player.consent_given? %>
                <%= link_to(@player.email, "mailto:#{@player.email}") %>
              <% else %>
                <%= link_to_manager_phone('u organizátora') %>
              <% end %>
            <% else %>
              (chýba)
            <% end %>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="lead text-center">Rok nar.:<span class="px-2"><%= maybe_missing(@player.birth_year) %></span></p>
        <p class="lead text-center">Kategória: <span class="px-2"><%= @player.category.name %></span></p>
      </div>
    </div>
  </div>
</div>

<% @player.enrollments.joins(:season).order('seasons.position desc').includes(:season).each do |enrollment| %>
  <hr>
  <div class="row">
    <div class="col">
      <h3 class="text-center">
        <%= "Zápasy sezóny #{enrollment.season.name}" %>
      </h3>
      <%= render 'matches/table',
                 matches: PlayerSeasonMatchesQuery.call(player: @player, season: enrollment.season)
                     .includes(:round, :winner, player1: :rankings, player2: :rankings),
                 delayed_matches: nil,
                 js_filter_target: "matches-#{enrollment.season.position}",
                 last_update_time: nil %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Prihlásenie do sezóny • <%= I18n.localize(
                                        enrollment.created_at,
                                        format: :date_month_year) %>
        <% if enrollment.canceled? %>
          • <strong><i>(momentálne odhlásený/á)</i></strong>
        <% end %>
      </p>
    </div>
  </div>
<% end %>

<%= render 'scripts_googlecharts' %>
