<div class="row">
  <div class="col">
    <h1 class="float-left"><%= player_name_by_consent(@player, current_user) %></h1>
    <div class="float-right">
      <% if user_signed_in? %>
        <%= link_to 'Upraviť', edit_player_path(@player), class: 'btn btn-success my-1' %>
      <% end %>
      <%= link_to 'Všetci hráči', enrollments_path, class: 'btn btn-outline-success my-1' %>
    </div>
  </div>
</div>
<hr>

<div class="text-center">
  <div class="d-inline-block px-3">
    <p class="lead">Posledné zápasy</p>
    <% if @last_played_matches.any? %>
      <% @last_played_matches.each do |match| %>
        <%= match_badge(match, @player) %>
      <% end %>
    <% else %>
      <%= match_badge %>
    <% end %>
  </div>
  <% if @opponents_comparison && @opponents_comparison[:previous_opponents].any? && @opponents_comparison[:current_opponents].any? %>
    <div class="d-inline-block px-3 mt-4">
      <p class="lead">
        Noví súperi
        <span data-toggle="tooltip" data-placement="top" title="Počet súperov v súčasnej (poslednej) sezóne, s ktorými hráč nehral v sezóne predchádzajúcej">
        <%= fa_icon 'question-circle' %>
      </span>
      </p>
      <p>
        <%= @opponents_comparison[:current_opponents].count { |o| !@opponents_comparison[:previous_opponents].include? o } %>/<%= @opponents_comparison[:current_opponents].length %>
      </p>
    </div>
  <% end %>
</div>

<hr>
<div class="row">
  <div class="col">
    <p class="lead text-center">
      Úspešnosť hry
      <span data-toggle="tooltip" data-placement="top" title="Pomer vyhratých gemov ku všetkým odohratým">
        <%= fa_icon 'question-circle' %>
      </span>
    </p>
  </div>
</div>
<div class="row">
  <% @success_of_play.each.with_index do |season_sop, i| %>
    <div class="col-12 col-md-6">
      <div class="card mb-3 <%= success_of_play_color_class(season_sop.dig(:percentage)) %>">
        <div class="card-header"><%= "V sezóne #{season_sop.dig(:season)&.name}" %></div>
        <div class="card-body">
          <h5 class="card-title">
            <%= season_sop.dig(:all_games).zero? ? '(žiadne zápasy)' : "#{season_sop.dig(:percentage)}%" %>
          </h5>
          <div id='<%= "player-sop-chart-#{i}" %>' class="player-sop-chart" style="width: 100%; height: 280px;"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<hr>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="lead text-center">
          Tel.:
          <span class="px-2">
            <% if @player.phone.present? %>
              <% if user_signed_in? || @player.consent_given? %>
                <%= link_to(formatted_phone(@player.phone), "tel:#{@player.phone}") %>
              <% else %>
                <%= link_to_manager_phone('u organizátora') %>
              <% end %>
            <% else %>
              (chýba)
            <% end %>
          </span>
        </p>
        <p class="lead text-center">
          Email:
          <span class="px-2">
            <% if @player.email.present? %>
              <% if user_signed_in? || @player.consent_given? %>
                <%= link_to(@player.email, "mailto:#{@player.email}") %>
              <% else %>
                <%= link_to_manager_phone('u organizátora') %>
              <% end %>
            <% else %>
              (chýba)
            <% end %>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="lead text-center">Rok nar.:<span class="px-2"><%= maybe_missing(@player.birth_year) %></span></p>
        <p class="lead text-center">Kategória: <span class="px-2"><%= @player.category.name %></span></p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/js_filter', target_table_body: "matches", placeholder: 'meno hráča' %>
<% @player.enrollments.joins(:season).order('seasons.position desc').includes(:season).each do |enrollment| %>
  <hr>
  <div class="row">
    <div class="col">
      <h3 class="text-center">
        <%= "Zápasy sezóny #{enrollment.season.name}" %>
      </h3>
      <% season_matches = @matches.select { |m| (m.round.season_id == enrollment.season_id) } %>
      <% finished_season_matches = season_matches.select { |m| m.finished_at.present? } %>
      <% unfinished_season_matches = season_matches.select { |m| m.finished_at.blank? } %>
      <% if season_matches.length > 0 %>

        <div class="grid-wrapper matches">

          <%= render partial: "matches/grid",
                     locals: {
                       heading_text: "Neodohraté",
                       matches: unfinished_season_matches,
                       dark_css_class: nil,
                       light_css_class: nil,
                       info_partial_up: "matches/datetime",
                       info_partial_down: "matches/note"
                     } if unfinished_season_matches.length > 0 %>

          <%= render partial: "matches/grid",
                     locals: {
                       heading_text: "Odohraté",
                       matches: finished_season_matches,
                       dark_css_class: "table-bg-darken-green",
                       light_css_class: "table-bg-green",
                       info_partial_up: "matches/score",
                       info_partial_down: "matches/datetime"
                     } if finished_season_matches.length > 0 %>
        </div>
      <% else %>
        <div class="row">
          <div class="col">
            <p class="lead text-center">Žiadne zápasy.</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Prihlásenie do sezóny • <%= I18n.localize(
                                        enrollment.created_at,
                                        format: :date_month_year) %>
        <% if enrollment.canceled? %>
          • <strong><i>(momentálne odhlásený/á)</i></strong>
        <% end %>
      </p>
    </div>
  </div>
<% end %>

<%= render 'scripts_googlecharts' %>
