<div class="row">
  <div class="col">
    <h1 class="float-left"><%= @player.name %></h1>
    <div class="float-right">
      <% if user_signed_in? %>
        <%= link_to 'Upraviť', edit_player_path(@player), class: 'btn btn-success my-1' %>
      <% end %>
      <%= link_to 'Všetci hráči', players_path, class: 'btn btn-outline-success my-1' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="lead text-center"><%= @player.phone.present? ? link_to(@player.phone, "tel:#{@player.phone}") : '-' %></p>
        <p class="lead text-center"><%= @player.email.present? ? link_to(@player.email, "mailto:#{@player.email}") : '-' %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="lead text-center"><%= @player.birth_year.present? ? @player.birth_year : '-' %></p>
        <p class="lead text-center"><%= @player.category.name %></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="lead text-center">
      <%= "Zápasy sezóny #{selected_season.name}" %>
    </p>
    <%= render 'matches/table', matches: PlayerSeasonMatchesQuery.call(player: @player, season: selected_season)
        .includes(:round, :winner, player1: :rankings, player2: :rankings) %>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Vstup do súťaže • <%= I18n.localize(@player.created_at, format: :date_month_year) %></p>
  </div>
</div>
