<div class="row">
  <div class="col">
    <ul class="nav nav-tabs" id="tab-matches" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="published-tab" data-toggle="tab" href="#published" role="tab" aria-controls="published" aria-selected="true">
          Zverejnené <span class="badge badge-light"><%= matches.published.size %></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="draft-tab" data-toggle="tab" href="#draft" role="tab" aria-controls="draft" aria-selected="false">
          Nezverejnené <span class="badge badge-light"><%= matches.draft.size %></span>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="tab-matches-content">
      <div class="tab-pane fade show active" id="published" role="tabpanel" aria-labelledby="published-tab">
        <%= render 'matches/table', matches: matches.published, js_filter_target: 'matches-published' %>
      </div>
      <div class="tab-pane fade" id="draft" role="tabpanel" aria-labelledby="draft-tab">
        <%= render 'matches/table', matches: matches.draft, js_filter_target: 'matches-draft' %>
        <% if matches.draft.any? %>
          <p class="text-center">
            <%= double_confirm_button('Zverejniť všetky!', publish_all_matches_round_path(round), 'btn btn-sm btn-success') %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
