<td class="<%= match_player_css_class(match, player) %>">
    <span class="js-filterable">
      <%= player_name_link(player, current_user) %>
    </span>
  (<%= player.rankings.find { |r| r[:round_id] == match.round.id }&.points.to_i %>b)
  <br>
  <small>
    <i>
      <% if player.phone.present? && player.consent_given? %>
        <%= link_to formatted_phone(player.phone), "tel:#{player.phone}" %>
      <% else %>
        <%= link_to_manager_phone('tel. č. u organizátora') %>
      <% end %>
    </i>
  </small>
</td>
