<tr class="<%= match_css_class(match) %>">
  <%= render "matches/player_cell", match: match, player: match.player1 %>
  <%= render "matches/player_cell", match: match, player: match.player2 %>

  <td>
    <%= match_info(match) %>
  </td>
  <td class="text-nowrap">
    <% if delayed %>
      <%= link_to match.round.full_label, matches_path(round_id: match.round.id), class: 'btn btn-sm btn-success' %>
    <% else %>
      <%= MatchDecorator.new(match).score %>
    <% end %>
  </td>
  <td>
    <%= link_to 'Detail', match_path(match), class: 'btn btn-sm btn-success' %>
  </td>
</tr>
