<% if matches.present? && matches.any? %>
  <div class="table-responsive my-1">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Hráč 1</th>
          <th scope="col">Hráč 2</th>
          <th scope="col">Dátum</th>
          <th scope="col">Výsledok</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% matches.each do |match| %>
          <% next if !user_signed_in? && (match.player1.dummy? || match.player2.dummy?) %>
          <tr>
            <td><%= match.player1.name %></td>
            <td><%= match.player2.name %></td>
            <td><%= match.play_date&.to_formatted_s(:short) %></td>
            <td><%= MatchDecorator.new(match).score %></td>
            <td>
              <%= link_to 'Detail', match_path(match), class: 'btn btn-sm btn-success' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <p class="lead text-center">Žiadne zápasy.</p>
    </div>
  </div>
<% end %>
