<div class="row">
  <div class="col">
    <p class="lead float-left">
      Zoznam zápasov (<%= @nr_all_real_matches %>)
      <%= '|' if selected_round.present? %>
      <%= round_element(selected_round, current_user) %>
    </p>
    <% if selected_season && selected_round %>
      <div class="form-group float-right">
        <%= select_tag :round_id, options_from_collection_for_select(selected_season.rounds.default, "id", "full_label", selected_round.id), class: 'form-control reloading-page', data: { url: request.path, param_name: 'round' } %>
      </div>
    <% end %>
  </div>
</div>

<% if selected_round && @nr_round_finished_matches && @nr_round_matches %>
  <%= render partial: "rounds/progress",
             locals: {
               round: selected_round,
               finished: @nr_round_finished_matches,
               total: @nr_round_matches
             }
  %>
<% end %>

<%#= render 'shared/special_instructions' unless cookies[:special_instructions_accepted] == "true" %>

<%= render "seasons/heading", season: selected_season %>

<% if @most_recent_article.present? %>
  <div class="mb-4"><%= render 'articles/tile', article: @most_recent_article, expand_content: true %></div>
<% end %>

<p class="text-center">
  <button class="btn btn-success btn-sm" type="button" data-toggle="collapse" data-target="#match-instructions" aria-expanded="false" aria-controls="match-instructions">
    Inštrukcie k zápasom
  </button>
  <%= link_to 'Rezervácie kurtov', pages_reservations_path, class: 'btn btn-sm btn-warning' %>
</p>
<div class="collapse" id="match-instructions">
  <div class="card card-body text-justify">
    <p>
      <small>
        Termín a miesto zápasu si dohodnite <strong>čím skôr</strong> po vyžrebovaní každého hracieho kola,
        ideálne hneď v pondelok po žrebovaní. Predídete tak problémom dohodnúť sa keď už perióda končí
        a ostáva málo dní na odohratie.
        <strong>
          Po dohodnutí zápasu informujte organizátora o mieste a čase dohodnutého zápasu WhatsApp/SMS správou
          na číslo 0905 289 248.
        </strong>
      </small>
    </p>

    <p>
      <small>
        Hráč č. 1 je zodpovedný za zabezpečenie kurtu, na ktorom sa zápas odohrá. Má právo výberu kurtu a má
        povinnosť ho zaplatiť na celý zápas. Pokiaľ sa obaja hráči nedohodnú inak, schválené kurty pre súťaž
        sú len:
      </small>
    </p>
    <ul>
      <li><small>Mravenisko - TC Topoľčany</small></li>
      <li><small>Kurty v mestskom parku</small></li>
      <li><small>Kurty na mestskom kúpalisku</small></li>
    </ul>
    <p>
      <small>
        Hráč č. 2 musí rešpektovať výber kurtu hráča č. 1 v týchto kluboch. Ak hráč č. 1 zápasu chce zápas
        odohrať na iných kurtoch, je k tomu potrebný súhlas súpera - hráča č. 2!
      </small>
    </p>
    <p>
      <small>
        Hráč č. 2 je zodpovedný za zabezpečenie nových lôpt na zápas, ktoré sa otvoria pred zápasom na kurte.
        Štandardne sa na 1 zápas používa 1 pixla lôpt.
        Ak sa zápas z nejakého dôvodu preruší a jeho dohratie sa odkladá na neskôr ako nasledujúci deň,
        na dohratie zápasu prinesie hráč č. 2 znova nové lopty, ak sa obaja hráči nedohodnú inak, napr. že dohrajú s pôvodnými.
        <br>
        Hráči sa môžu dohodnúť aj na inom spôsobe výmeny lôpt za nové, no pokiaľ sa nedohodnú platí
        vyššie uvedené.
        <br><br>
        Na zápas sa akceptuje iba profesionálna tlakovaná tenisová lopta. Konkrétna značka a typ je na
        výbere hráča č. 2, no tu je zoznam značiek a typov lôpt, ktoré sú v súťaži používané a musia byť
        hráčom č. 1 akceptované.
      </small>
    </p>
    <ul>
      <li><small>Dunlop Fort</small></li>
      <li><small>Dunlop ATP</small></li>
      <li><small>Dunlop AO</small></li>
      <li><small>Wilson Roland Garros</small></li>
      <li><small>Wilson US Open</small></li>
      <li><small>Slazenger Wimbledon</small></li>
      <li><small>Head Championship</small></li>
    </ul>

    <small>
      Ak zápas dospeje do stavu 1:1 na sety, o víťazovi rozhoduje supertiebreak (tiebreak, ktorý
      sa hrá do 10 s rozdielom minimálne dvoch bodov). <strong>Ak obaja hráči súhlasia a majú
      dostatočne veľkú časovú rezervu</strong>, môžu na rozhodnutie zápasu odohrať štandardný tretí set.
    </small>
    <p class="text-center"><small><button class="btn btn-success btn-sm mt-3" type="button" data-toggle="collapse" data-target="#match-instructions" aria-expanded="false" aria-controls="match-instructions">Ok</button></small></p>
    <p class="text-center"><small><%= link_to 'viac info', pages_about_path, class: 'text-center' %></small></p>
  </div>
</div>



<% if @last_update_time.present? %>
  <div class="text-center my-3">
    <i><small>(aktualizácia: <%= I18n.localize(@last_update_time, format: :date_with_time) %>)</small></i>
    <% if @unplanned_matches_count %>
      <p class="text-danger"><i><%= unplanned_matches_info(@unplanned_matches_count) %></i></p>
    <% end %>
  </div>
<% end %>

<% if selected_round && (@planned_matches.first || @recent_matches.first || @previous_matches.first || @unplanned_matches.first) %>

  <div class="grid-wrapper matches">

    <%= render 'shared/js_filter', target_table_body: "matches", placeholder: 'meno hráča' %>
    <%= render partial: "matches/grid",
               locals: {
                 heading_text: "Naplánované",
                 matches: @planned_matches,
                 dark_css_class: "table-bg-smoke",
                 light_css_class: "table-bg-smoke",
                 info_partial_up: "matches/datetime",
                 info_partial_down: "matches/note"
               } if @planned_matches.first %>

    <%= render partial: "matches/grid",
               locals: {
                 heading_text: "Najnovšie",
                 matches: @recent_matches,
                 dark_css_class: "table-bg-darken-yellow",
                 light_css_class: "table-bg-yellow",
                 info_partial_up: "matches/score",
                 info_partial_down: "matches/datetime"
               } if @recent_matches.first %>

    <%= render partial: "matches/grid",
               locals: {
                 heading_text: "Odohraté",
                 matches: @previous_matches,
                 dark_css_class: "table-bg-darken-green",
                 light_css_class: "table-bg-green",
                 info_partial_up: "matches/score",
                 info_partial_down: "matches/datetime"
               } if @previous_matches.first %>

    <%= render partial: "matches/grid",
               locals: {
                 heading_text: "Žreb",
                 matches: @unplanned_matches,
                 dark_css_class: nil,
                 light_css_class: nil,
                 info_partial_up: "matches/datetime",
                 info_partial_down: "matches/note"
               } if @unplanned_matches.first %>

  </div>
<% else %>
  <div class="row">
    <div class="col">
      <p class="lead text-center">Žiadne zápasy.</p>
    </div>
  </div>
<% end %>

<%= render "shared/scripts_autoreload" %>
