<div class="row">
  <div class="col">
    <p class="lead float-left">
      Zoznam zápasov (<%= @matches.count %>)
      <%= '|' if selected_round.present? %>
      <%= round_element(selected_round, current_user) %>
    </p>
    <% if selected_season && selected_round %>
      <div class="form-group float-right">
        <%= select_tag :round_id, options_from_collection_for_select(selected_season.rounds.default, "id", "full_label", selected_round.id), class: 'form-control reloading-page', data: { url: request.path, param_name: 'round' } %>
      </div>
    <% end %>
  </div>
</div>

<%= round_progress_info(selected_round) if selected_round.present? %>

<%= render 'shared/special_instructions' unless cookies[:special_instructions_accepted] == "true" %>

<%= render "seasons/heading", season: selected_season %>

<% if @most_recent_article.present? %>
  <div class="mb-4"><%= render 'articles/tile', article: @most_recent_article, expand_content: true %></div>
<% end %>

<p class="text-center">
  <% if selected_season && selected_round && policy(Match).create? %>
    <%= link_to 'Nový zápas', new_match_path(round_id: selected_round.id), class: 'btn btn-sm btn-success' %>
  <% end %>

  <button class="btn btn-success btn-sm" type="button" data-toggle="collapse" data-target="#match-instructions" aria-expanded="false" aria-controls="match-instructions">
    Inštrukcie k zápasom
  </button>
</p>
<div class="collapse" id="match-instructions">
  <div class="card card-body text-justify">
    <small>
      Termín a miesto zápasu si dohodnite <strong>čím skôr</strong> po vyžrebovaní každého hracieho kola.
      <strong>
        Po dohodnutí zápasu informujte organizátora o mieste a čase dohodnutého zápasu správou
        na číslo 0905 289 248, alebo 0908 304 473.
      </strong>
      Oficiálnymi loptami súťaže sú <strong>Dunlop Fort, Dunlop ATP, Head ATP a Slazenger Wimbledon</strong>.
      Iné lopty možno použiť len so súhlasom súpera.
      Podľa pravidiel súťaže sa <strong>každý zápas hrá s úplne novými loptami</strong>.
      Ak zápas dospeje do stavu 1:1 na sety, o víťazovi rozhoduje supertiebreak (tiebreak, ktorý
      sa hrá do 10 s rozdielom minimálne dvoch bodov). <strong>Ak obaja hráči súhlasia a majú
      dostatočne veľkú časovú rezervu</strong>, môžu na rozhodnutie zápasu odohrať štandardný tretí set.
      <p class="text-center"><button class="btn btn-success btn-sm mt-3" type="button" data-toggle="collapse" data-target="#match-instructions" aria-expanded="false" aria-controls="match-instructions">Ok</button></p>
      <p class="text-center"><%= link_to 'viac info', pages_about_path, class: 'text-center' %></p>
    </small>
  </div>
</div>

<% if user_signed_in? %>
  <%= render 'matches/list_admin', matches: @matches, round: selected_round %>
<% else %>
  <%= render 'matches/list_public', matches: @matches %>
<% end %>

<% if @delayed_matches.any? %>
  <hr>
  <div class="row">
    <div class="col">
      <p class="text-danger"><i><%= delayed_matches_announcement(@delayed_matches) %></i></p>
      <%= render 'shared/js_filter', target_table_body: 'delayed-matches', placeholder: 'meno hráča' %>

      <div class="table-responsive my-1">
        <table class="table table-sm">
          <thead class="thead-dark">
          <tr>
            <th class="phone-nr-width" scope="col">Hráč 1 - kurt</th>
            <th class="phone-nr-width" scope="col">Hráč 2 - lopty</th>
            <th scope="col">Informácie</th>
            <th scope="col">Kolo</th>
            <th></th>
          </tr>
          </thead>
          <tbody class="delayed-matches">
            <% @delayed_matches.each do |delayed_match| %>
              <tr>
                <td>
                  <span class="js-filterable">
                    <%= player_name_link(delayed_match.player1, current_user) %>
                  </span>
                  <br>
                  <small>
                    <i>
                      <% if delayed_match.player1.phone.present? && delayed_match.player1.consent_given? %>
                        <%= link_to formatted_phone(delayed_match.player1.phone), "tel:#{delayed_match.player1.phone}" %>
                      <% else %>
                        <%= link_to_manager_phone('tel. č. u organizátora') %>
                      <% end %>
                    </i>
                  </small>
                </td>
              <td>
                <span class="js-filterable">
                  <%= player_name_link(delayed_match.player2, current_user) %>
                </span>
                <br>
                <small>
                  <i>
                    <% if delayed_match.player2.phone.present? && delayed_match.player2.consent_given? %>
                      <%= link_to formatted_phone(delayed_match.player2.phone), "tel:#{delayed_match.player2.phone}" %>
                    <% else %>
                      <%= link_to_manager_phone('tel. č. u organizátora') %>
                    <% end %>
                  </i>
                </small>
              </td>
              <td>
                <%= match_info(delayed_match) %>
              </td>
              <td>
                <%= delayed_match.round.full_label %>
              </td>
              <td>
                <%= link_to 'Detail', match_path(delayed_match), class: 'btn btn-sm btn-success' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<%= render "shared/scripts_autoreload" %>
