<div class="row">
  <div class="col">
    <p class="lead float-left">
      Zoznam zápasov (<%= @matches.count %>)
      <%= '|' if selected_round.present? %>
      <%= round_element(selected_round, current_user) %>
    </p>
    <% if selected_season && selected_round %>
      <div class="form-group float-right">
        <%= select_tag :round_id, options_from_collection_for_select(selected_season.rounds.default, "id", "full_label", selected_round.id), class: 'form-control reloading-page', data: { url: request.path, param_name: 'round' } %>
      </div>
    <% end %>
  </div>
</div>

<%= round_progress_info(selected_round) if selected_round.present? %>

<% if @most_recent_article.present? %>
  <div class="mb-4"><%= render 'articles/tile', article: @most_recent_article %></div>
<% end %>

<p class="text-center">
  <% if selected_season && selected_round && policy(Match).create? %>
    <%= link_to 'Nový zápas', new_match_path(round_id: selected_round.id), class: 'btn btn-sm btn-success' %>
  <% end %>

  <button class="btn btn-success btn-sm" type="button" data-toggle="collapse" data-target="#match-instructions" aria-expanded="false" aria-controls="match-instructions">
    Inštrukcie k zápasom
  </button>
</p>
<div class="collapse" id="match-instructions">
  <div class="card card-body text-justify">
    <small>
      Termín a miesto zápasu je najlepšie dohodnúť čím skôr po vyžrebovaní každého hracieho kola.
      <b>Po dohodnutí zápasu môžu hráči informovať organizátora o mieste a čase dohodnutého zápasu, aby boli tieto informácie verejné pre ostatných (SMS na č. <%= link_to ' 0911-503-355', 'tel:0911503355' %>).</b>
      Oficiálnymi loptami súťaže sú DUNLOP FORT, WILSON AO, HEAD ATP. Iné lopty možno použiť len so súhlasom súpera.
      <p class="text-center"><button class="btn btn-success btn-sm mt-3" type="button" data-toggle="collapse" data-target="#match-instructions" aria-expanded="false" aria-controls="match-instructions">Ok</button></p>
      <p class="text-center"><%= link_to 'viac info', pages_about_path, class: 'text-center' %></p>
    </small>
  </div>
</div>

<% if user_signed_in? %>
  <%= render 'matches/list_admin', matches: @matches, round: selected_round %>
<% else %>
  <%= render 'matches/list_public', matches: @matches %>
<% end %>
