<div class="row">
  <div class="col">
    <%# unless user_signed_in? %>
      <!-- <span class="float-left">(kurt)</span> -->
    <%# end %>
    <h1 class="float-left"><%= MatchDecorator.new(@match).label(current_user) %></h1>
    <%# unless user_signed_in? %>
      <!-- <span class="float-left">(lopty)</span> -->
    <%# end %>
    <div class="float-right">
      <%= link_to 'Všetky zápasy', matches_path, class: 'btn btn-outline-success my-1' %>
      <% if user_signed_in? %>
        <%= link_to 'Upraviť', edit_match_path(@match), class: 'btn btn-success my-1' %>
        <% if policy(@match).destroy? %>
          <%= link_to 'Vymazať', match_path(@match), method: :delete, data: { confirm: "Naozaj vymazať zápas #{MatchDecorator.new(@match).label(current_user)}?" }, class: 'btn btn-danger my-1' %>
        <% end %>
        <% if policy(@match).finish? %>
          <button type="button" class="btn btn-outline-danger my-1" data-toggle="modal" data-target="#finish-match-modal">
            Výsledok
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<hr>
<% if @match.finished? %>
  <div class="row">
    <div class="col">
      <h2 class="text-center"><%= MatchDecorator.new(@match).score %></h2>
    </div>
  </div>
  <p class="lead text-center">
    <%= player_name_link(@match.winner, current_user, quiet: false) %>
    <% if user_signed_in? || @match.winner.consent_given? %>
      <i>(tel.č. <%= link_to "#{formatted_phone(@match.winner.phone)}", "tel:#{@match.winner.phone}" %>)</i>
    <% end %>
    <b>zvíťazil<small>/a</small> v tomto zápase</b>.
  </p>
  <p class="lead text-center">
    <%= player_name_link(@match.looser, current_user, quiet: false) %>
    <% if user_signed_in? || @match.looser.consent_given? %>
      <i>(tel.č. <%= link_to "#{formatted_phone(@match.looser.phone)}", "tel:#{@match.looser.phone}" %>)</i>
    <% end %>
    <% if @match.retired_player_id.present? %>
      <b>skrečoval<small>/a</small> tento zápas, alebo nenastúpil<small>/a</small></b>.
    <% else %>
      <b>prehral<small>/a</small> v tomto zápase</b>.
    <% end %>
  </p>
<% else %>
  <p class="lead text-center">
    <%= player_name_link(@match.player1, current_user, quiet: false) %>
    <% if user_signed_in? || @match.player1.consent_given? %>
      <i>(tel.č. <%= link_to "#{formatted_phone(@match.player1.phone)}", "tel:#{@match.player1.phone}" %>)</i>
    <% end %>
    <b>zabezpečuje <i>kurt</i></b>.
  </p>
  <p class="lead text-center">
    <%= player_name_link(@match.player2, current_user, quiet: false) %>
    <% if user_signed_in? || @match.player2.consent_given? %>
      <i>(tel.č. <%= link_to "#{formatted_phone(@match.player2.phone)}", "tel:#{@match.player2.phone}" %>)</i>
    <% end %>
    <b>zabezpečuje <i>lopty</i></b>.
  </p>
<% end %>
<% if user_signed_in? && policy(@match).swap_players? %>
  <p class="text-center">
    <%= double_confirm_button('Prehodiť hráčov', swap_players_match_path(@match), 'btn btn-sm btn-outline-danger') %>
  </p>
<% end %>
<hr>
<p class="lead text-center"><%= round_element(@match.round, current_user) %></p>
<p class="lead text-center">
  <%= match_info(@match) %>
</p>

<% if user_signed_in? %>
  <hr>
  <p class="lead text-center">
    <%= match_published_pill(@match) %>
  </p>
  <% if @match.from_toss? %>
    <p class="lead text-center"><small><i>Zápas vznikol automatickým žrebovaním.</i></small></p>
  <% else %>
    <p class="lead text-center"><small><i>Tento zápas bol vytvorený organizátorom.</i></small></p>
  <% end %>
<% end %>

<!-- Modal -->
<div class="modal fade" id="finish-match-modal" tabindex="-1" role="dialog" aria-labelledby="finish-match-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="finish-match-modal-label"><%= MatchDecorator.new(@match).label(current_user) %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag finish_match_path(@match) do %>
        <div class="modal-body">
          <h2 class="text-center">Set 1</h2>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <div class="input-group">
                  <%= number_field_tag :set1_player1_score, '', min: 0, max: 7, step: 1,
                      name: 'score[set1_player1]', class: 'form-control float-right text-right' %>
                </div>
                <p class="text-right"><small><%= @match.player1.name %></small></p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <div class="input-group">
                  <%= number_field_tag :set1_player2_score, '', min: 0, max: 7, step: 1,
                      name: 'score[set1_player2]', class: 'form-control float-left text-left replace-input-field' %>
                </div>
                <p><small><%= @match.player2.name %></small></p>
              </div>
            </div>
          </div>
          <h2 class="text-center">Set 2</h2>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <div class="input-group">
                  <%= number_field_tag :set2_player1_score, '', min: 0, max: 7, step: 1,
                      name: 'score[set2_player1]', class: 'form-control float-right text-right' %>
                </div>
                <p class="text-right"><small><%= @match.player1.name %></small></p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <div class="input-group">
                  <%= number_field_tag :set2_player2_score, '', min: 0, max: 7, step: 1,
                      name: 'score[set2_player2]', class: 'form-control float-left text-left replace-input-field' %>
                </div>
                <p><small><%= @match.player2.name %></small></p>
              </div>
            </div>
          </div>
          <h2 class="text-center">Set 3</h2>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <div class="input-group">
                  <%= number_field_tag :set3_player1_score, '', min: 0, max: 7, step: 1,
                      name: 'score[set3_player1]', class: 'form-control float-right text-right' %>
                </div>
                <p class="text-right"><small><%= @match.player1.name %></small></p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <div class="input-group">
                  <%= number_field_tag :set3_player2_score, '', min: 0, max: 7, step: 1,
                      name: 'score[set3_player2]', class: 'form-control float-left text-left replace-input-field' %>
                </div>
                <p><small><%= @match.player2.name %></small></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input element-enabler" data-element-id="retired_player_id" type="checkbox" value="" id="player-retirement-checkbox">
                  <label class="form-check-label" for="player-retirement-checkbox">
                    Hráč skrečoval zápas
                  </label>
                </div>
                <%= select_tag :retired_player_id, options_from_collection_for_select(@match.players, :id, :name), { disabled: true, include_blank: true, class: 'form-control' } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= label_tag :note, 'Poznámka' %>
                <%= text_area_tag :note, @match.note, class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-check">
            <input class="form-check-input element-enabler" data-element-id="finish-confirmation-button" type="checkbox" value="" id="finish-confirmation-checkbox">
            <label class="form-check-label" for="finish-confirmation-checkbox">
              <small>
                Znova som skonroloval/a výsledok, ktorý zapisujem, je naozaj správny ;-)
              </small>
            </label>
          </div>
          <button type="button" class="btn btn-outline-success" data-dismiss="modal">Zrušiť</button>
          <%= submit_tag 'Vložiť', class: 'btn btn-danger', id: 'finish-confirmation-button', disabled: true %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#finish-match-modal').on('shown.bs.modal', function (e) {
    $('#finish-confirmation-checkbox').prop('checked', false);
    $('#finish-confirmation-button').prop('disabled', true);
  });

  $(document).on('turbolinks:load', function() {
    $('#retired_player_id').change(function() {
      if (this.value.length == 0) {
        $('#player-retirement-checkbox').prop('checked', false);
        $(this).prop('disabled', true);
      }
    });

    $('#player-retirement-checkbox').change(function() {
      if ($(this).is(":checked")) {
        $('#retired_player_id').val($('#retired_player_id > option:last').val());
      } else {
        $('#retired_player_id').val($('#retired_player_id > option:first').val());
      }
    });
  });
</script>
<!--  -->
