<div class="row">
  <div class="col">
    <h1 class="float-left"><%= MatchDecorator.new(@match).label %></h1>
    <div class="float-right">
      <%= link_to 'Naspäť', matches_path(round_id: @match.round_id), class: 'btn btn-outline-success my-1' %>
      <% if user_signed_in? && !@match.finished? %>
        <%= link_to 'Upraviť', edit_match_path(@match), class: 'btn btn-success my-1' %>
        <%= link_to 'Vymazať', match_path(@match), method: :delete, data: { confirm: "Naozaj vymazať zápas #{MatchDecorator.new(@match).label}?" }, class: 'btn btn-danger my-1' %>
      <% end %>
    </div>
  </div>
</div>
<% if @match.finished? %>
  <div class="row">
    <div class="col">
      <h2 class="text-center"><%= MatchDecorator.new(@match).score %></h2>
    </div>
  </div>
<% end %>
<hr>
<p class="lead text-center"><%= @match.round.full_label %></p>
<p class="lead text-center"><%= @match.play_date&.to_formatted_s(:short) %></p>
<p class="lead text-center"><%= @match.note %></p>

<% if user_signed_in? %>
  <hr>
  <p class="lead text-center">
    <%= published_pill(@match) unless @match.finished? %>
  </p>
  <% if @match.from_toss? %>
    <p class="lead text-center"><small><i>Zápas vznikol automatickým žrebovaním.</i></small></p>
  <% end %>
<% end %>
