<%= render 'shared/validation_errors_announcement', validated_object: category %>
<%= form_with(model: [:manager, category], local: true) do |form| %>
  <div class="row">
    <div class="col-12">
      <div class="<%= add_error_class_to('pl-2', category, :name) %>">
        <div class="field form-group">
          <%= form.label :name, 'Názov' %><br />
          <%= form.text_field :name, autofocus: true, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="field form-group">
        <%= form.label :detail, 'Detail' %><br />
        <%= form.text_area :detail, class: 'form-control' %>
      </div>
    </div>

    <div class="col-12">
      <div class="<%= add_error_class_to('pl-2', category, :nr_finalists) %>">
        <div class="field form-group">
          <%= form.label :nr_finalists, 'Počet finalistov' %><br />
          <%= form.number_field :nr_finalists, step: 1, class: 'form-control' %>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <div class="pl-2">
        <div class="actions">
          <%= submit_tag 'Potvrdiť', class: 'btn btn-lg btn-success my-1' %>
          <%= link_to 'Zrušiť', manager_categories_path, class: 'btn btn-lg btn-outline-success my-1' %>
        </div>
      </div>
    </div>
  </div>
  <%= hidden_field_tag :heading, @heading %>
<% end %>
