<!DOCTYPE html>
<html lang="sk">
  <head>
    <title>matotenis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="https://www.matotenis.sk" />
    <meta property="og:title" content="matotenis.sk" />
    <meta property="og:description" content="Majstrovstvá Topoľčian v tenise" />
    <meta property="og:image" content="<%= URI.join(root_url, image_path("matotenis_facebook2.jpg")) %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? && @payment_balance.present? %>
      <%= render 'payments/payment_balance' %>
    <% end %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/hot_announcement' %>
    <%= render 'shared/flash_message' unless flash.blank? %>
    <div class="img-banner mb-2"></div>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
