<!DOCTYPE html>
<html lang="sk">
  <head>
    <title>matotenis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="<%= root_url %>" />
    <meta property="og:title" content="matotenis.sk" />
    <meta property="og:description" content="Majstrovstvá Topoľčian v tenise" />
    <meta property="og:image" content="<%= URI.join(root_url, image_path("matotenis_facebook.jpg")) %>" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Jura:wght@300&display=swap" rel="stylesheet">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? && @payment_balance.present? %>
      <%= render 'payments/payment_balance' %>
    <% end %>
    <% if selected_season != Season.default.first %>
      <div class="attention-background text-center">
        POZOR, je zvolená sezóna <%= selected_season.name %>.
        <%= link_to "Prejsť na súčasnú.", history_season_path(Season.default.first) %>
      </div>
    <% end %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/hot_announcement' %>
    <%= render 'shared/flash_message' unless flash.blank? %>
    <div class="img-banner mb-2"></div>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
